.content {
  height: 795px;
}
.place {
  position: absolute;
  background-color: #fff;
  font-size: 20px;
  width: 100%;
  height: 60px;
  border: 0px solid #ffffff;
  border-radius: 12px;
  top: 0;
  line-height: 60px;
}
.icon {
  position: absolute;
  background-color: #fff;
  line-height: 260px;
  width: 40%;
  height: 260px;
  text-align: center;
  border: 0px solid #ffffff;
  border-radius: 12px;
  top: 70px;
  line-height: 260px;
}
.temp {
  position: absolute;
  background-color: #fff;
  width: calc(60% - 10px);
  height: 260px;
  border: 0px solid #ffffff;
  border-radius: 12px;
  top: 70px;
  right: 0;
  line-height: 60px;
}

#place_icon {
  width: 25px;
  position: absolute;
  top: 14px;
  left: 15px;
}
.icon > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.place > p {
  position: absolute;
  left: 40px;
}
.temp > #temp {
  position: absolute;
  font-size: 130px;
  bottom: 65px;
  left: 25px;
}
.temp > #description {
  position: absolute;
  font-size: 50px;
  top: 35px;
  left: 25px;
}
.temp > #feels_like {
  position: absolute;
  font-size: 25px;
  top: 100px;
  right: 35px;
}
.temp > #humidity {
  position: absolute;
  font-size: 50px;
  bottom: 35px;
  right: 35px;
}
.temp > img {
  width: 45px;
  position: absolute;
  bottom: 40px;
  right: 150px;
}
.day_forecast {
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 2%;
  width: 96%;
  height: calc(100px);
  border: 0px solid #ffffff;
  border-radius: 12px;
  top: 340px;
  right: 0;
}
.day_forecast_time {
  width: 12.5%;
  text-align: center;
  height: 100%;
}
.day_forecast_time > img {
  width: 80%;
}
.day_forecast_text {
  height: 20px;
}
.five_day_forecast {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2%;
  width: 96%;
  height: 250px;
  border: 0px solid #ffffff;
  border-radius: 12px;
  top: 480px;
  right: 0;
}
.five_day_forecast_day {
  width: 100%;
  height: 50px;
  position: relative;
}
.five_day_forecast_day > .five_day_temp {
  display: block;
  position: absolute;
  right: 10px;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.five_day_forecast_day > .five_day_forecast_text {
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.five_day_forecast_day > img {
  position: absolute;
  left: 70px;
  top: 0;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1080px){
  .content {
    height: 1390px;
  }
  .place {
    width: 98%;
    height: 150px;
    font-size: 70px;
    top: 0;
    left: 1%;
    border-radius: 20px;
    line-height: 150px;
  }
  #place_icon {
    width: 70px;
    position: absolute;
    top: 40px;
    left: 15px;
  }
  .place > p {
    position: absolute;
    left: 100px;
  }
  .icon {
    width: 38.5%;
    height: 370px;
    top: 160px;
    left: 1%;
    border-radius: 20px;
    line-height: 260px;
  }
  .icon > img {
    width: 100%;
  }
  .temp {
    width: 58.5%;
    height: 370px;
    top: 160px;
    right: 1%;
    border-radius: 20px;
    line-height: 60px;
  }
  .temp > #temp {
    font-size: 200px;
    bottom: 85px;
    left: 25px;
  }
  .temp > #description {
    font-size: 70px;
    top: 55px;
    left: 25px;
  }
  .temp > #feels_like {
    font-size: 30px;
    top: 200px;
    right: 35px;
  }
  .temp > #humidity {
    font-size: 62px;
    bottom: 31px;
    right: 29px;
  }
  .temp > img {
    width: 55px;
    bottom: 31px;
    right: 180px;
  }
  .day_forecast {
    left: 1%;
    width: 94%;
    height: 200px;
    overflow-x: auto;
    top: 540px;
    font-size: 30px;
    border-radius: 20px;
  }
  .day_forecast_time > img {
    height: 110px;
    width: auto;
  }
  .five_day_forecast {
    left: 1%;
    width: 94%;
    height: 500px;
    overflow-x: auto;
    top: 790px;
    font-size: 40px;
    border-radius: 20px;
  }
  .five_day_forecast_day {
    height: 100px;
  }
  .five_day_forecast_day > .five_day_temp {
    width: 50px;
    height: 100px;
    line-height: 100px;
  }
  .five_day_forecast_day > .five_day_forecast_text {
    width: 50px;
    height: 100px;
    line-height: 100px;
  }
  .five_day_forecast_day > img {
    width: 100px;
    height: 100px;
  }
}
