{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'main/icons/logo.png' %}" rel="icon" type="image/.png"/>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <meta name="keywords" content="www.weatheranywhere.space weatheranywhere.space
                                   weatheranywhere weather any where forecast">
    {% block description %}
      <meta name="description" content="Detailed weather forecast for any city
      for today on WeatherAnyWhere">
    {% endblock %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="body">
      <div class='menu'>
        <a href='{% url 'default_p' %}'><img src="{% static 'main/icons/logo.png' %}" id='logo'></a>
        <form method="get" class="get-weather-form">
          <input type="text" placeholder="City, region" id='inp' name="city" value='{{city}}'>
          <button type="submit" id='find' class='button'>Find</button>
        </form>
      </div>
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="footer">
        © 2021 WeatherAnyWeher.space All weather info was taken from
        <a href="https://openweathermap.org/" target="_blank">openweathermap.org</a>
      </div>
      {% block scripts %}
      {% endblock %}
    </div>
  </body>
</html>
